USE [master]
GO
/****** Object:  Database [parking_management]    Script Date: 16/04/2026 4:28:41 CH ******/
CREATE DATABASE [parking_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'parking_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\parking_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'parking_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\parking_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [parking_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [parking_management]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGia](
	[MaGia] [varchar](20) NOT NULL,
	[LoaiXe] [nvarchar](50) NOT NULL,
	[KhungGio] [nvarchar](50) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaTruc]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaTruc](
	[MaCa] [varchar](20) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[MaLan] [varchar](20) NOT NULL,
	[ThoiGianBD] [datetime] NOT NULL,
	[ThoiGianKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyVeThang]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyVeThang](
	[MaDK] [varchar](20) NOT NULL,
	[MaThe] [varchar](20) NOT NULL,
	[BienSo] [varchar](20) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[SoTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanXe]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanXe](
	[MaLan] [varchar](20) NOT NULL,
	[LoaiLan] [nvarchar](10) NOT NULL,
	[Vitri] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotGui]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotGui](
	[MaLuot] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [varchar](20) NOT NULL,
	[BienSo] [varchar](20) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[MaLanVao] [varchar](20) NOT NULL,
	[MaLanRa] [varchar](20) NULL,
	[MaGia] [varchar](20) NULL,
	[ThoiGianVao] [datetime] NOT NULL,
	[ThoiGianRa] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[AnhVao] [varchar](255) NULL,
	[AnhRa] [varchar](255) NULL,
	[NguoiThuTien] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheXe]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheXe](
	[MaThe] [varchar](20) NOT NULL,
	[LoaiThe] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[TrangThaiKhoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 16/04/2026 4:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[BienSo] [varchar](20) NOT NULL,
	[LoaiXe] [nvarchar](50) NOT NULL,
	[MauSac] [nvarchar](20) NULL,
	[HangXe] [nvarchar](50) NULL,
	[MaKH] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangGia] ([MaGia], [LoaiXe], [KhungGio], [DonGia]) VALUES (N'GIA_OT_DEM', N'Ô tô', N'Ban đêm', CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangGia] ([MaGia], [LoaiXe], [KhungGio], [DonGia]) VALUES (N'GIA_OT_NGAY', N'Ô tô', N'Ban ngày', CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangGia] ([MaGia], [LoaiXe], [KhungGio], [DonGia]) VALUES (N'GIA_XM_DEM', N'Xe máy', N'Ban đêm', CAST(10000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CaTruc] ([MaCa], [MaNV], [MaLan], [ThoiGianBD], [ThoiGianKT]) VALUES (N'CA001', N'NV01', N'LAN1_IN', CAST(N'2026-04-14T22:33:27.340' AS DateTime), CAST(N'2026-04-15T06:33:27.340' AS DateTime))
GO
INSERT [dbo].[DangKyVeThang] ([MaDK], [MaThe], [BienSo], [NgayBatDau], [NgayHetHan], [SoTien]) VALUES (N'DK001', N'T001', N'29A-123.45', CAST(N'2024-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(1200000.00 AS Decimal(18, 2)))
INSERT [dbo].[DangKyVeThang] ([MaDK], [MaThe], [BienSo], [NgayBatDau], [NgayHetHan], [SoTien]) VALUES (N'DK002', N'T002', N'29B-987.65', CAST(N'2024-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[DangKyVeThang] ([MaDK], [MaThe], [BienSo], [NgayBatDau], [NgayHetHan], [SoTien]) VALUES (N'DK003', N'T003', N'29C-55555', CAST(N'2024-02-02' AS Date), CAST(N'2026-12-31' AS Date), CAST(300000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KhachHang] ([MaKH], [Ten], [SDT], [CCCD]) VALUES (N'KH001', N'Nguyễn Đức Quang Vinh', N'0912345678', N'001099123456')
INSERT [dbo].[KhachHang] ([MaKH], [Ten], [SDT], [CCCD]) VALUES (N'KH002', N'Trần Văn Phúc', N'0987654321', N'001099654321')
INSERT [dbo].[KhachHang] ([MaKH], [Ten], [SDT], [CCCD]) VALUES (N'KH003', N'Lê Thị Hương', N'0901112233', N'001088776655')
GO
INSERT [dbo].[LanXe] ([MaLan], [LoaiLan], [Vitri]) VALUES (N'LAN1_IN', N'Vào', N'Cổng chính hầm B1')
INSERT [dbo].[LanXe] ([MaLan], [LoaiLan], [Vitri]) VALUES (N'LAN1_OUT', N'Ra', N'Cổng chính hầm B1')
GO
SET IDENTITY_INSERT [dbo].[LuotGui] ON 

INSERT [dbo].[LuotGui] ([MaLuot], [MaThe], [BienSo], [MaNV], [MaLanVao], [MaLanRa], [MaGia], [ThoiGianVao], [ThoiGianRa], [TongTien], [AnhVao], [AnhRa], [NguoiThuTien]) VALUES (1, N'T001', N'29A-123.45', N'NV01', N'LAN1_IN', NULL, N'GIA_OT_NGAY', CAST(N'2026-04-14T22:33:27.350' AS DateTime), NULL, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL)
INSERT [dbo].[LuotGui] ([MaLuot], [MaThe], [BienSo], [MaNV], [MaLanVao], [MaLanRa], [MaGia], [ThoiGianVao], [ThoiGianRa], [TongTien], [AnhVao], [AnhRa], [NguoiThuTien]) VALUES (2, N'L001', N'30F-555.55', N'NV01', N'LAN1_IN', NULL, N'GIA_OT_NGAY', CAST(N'2026-04-14T20:33:27.350' AS DateTime), NULL, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL)
INSERT [dbo].[LuotGui] ([MaLuot], [MaThe], [BienSo], [MaNV], [MaLanVao], [MaLanRa], [MaGia], [ThoiGianVao], [ThoiGianRa], [TongTien], [AnhVao], [AnhRa], [NguoiThuTien]) VALUES (11, N't002', N'29B-987.65', N'NV01', N'LAN1_IN', N'LAN1_OUT', N'GIA_OT_NGAY', CAST(N'2026-04-15T21:19:30.540' AS DateTime), CAST(N'2026-04-15T21:36:14.537' AS DateTime), CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LuotGui] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ten], [SDT], [ChucVu], [TenNV], [MatKhau]) VALUES (N'NV01', N'Nguyễn Văn A', N'0901112222', N'Bảo vệ kiểm soát', NULL, N'123456')
INSERT [dbo].[NhanVien] ([MaNV], [Ten], [SDT], [ChucVu], [TenNV], [MatKhau]) VALUES (N'NV02', N'Nguyễn Thu Trà', N'0903334444', N'Thu ngân', NULL, N'123456')
GO
INSERT [dbo].[TheXe] ([MaThe], [LoaiThe], [TrangThai], [TrangThaiKhoa]) VALUES (N'L001', N'Vé lượt', N'Trong bãi', NULL)
INSERT [dbo].[TheXe] ([MaThe], [LoaiThe], [TrangThai], [TrangThaiKhoa]) VALUES (N'L002', N'Vé lượt', N'Ngoài bãi', NULL)
INSERT [dbo].[TheXe] ([MaThe], [LoaiThe], [TrangThai], [TrangThaiKhoa]) VALUES (N'L003', N'Vé Lượt', N'Trong bãi', NULL)
GO
INSERT [dbo].[Xe] ([BienSo], [LoaiXe], [MauSac], [HangXe], [MaKH]) VALUES (N'18c1-14493', N'Ô tô', NULL, NULL, NULL)
INSERT [dbo].[Xe] ([BienSo], [LoaiXe], [MauSac], [HangXe], [MaKH]) VALUES (N'29A-123.45', N'Ô tô', N'Đen', N'Toyota', N'KH001')
INSERT [dbo].[Xe] ([BienSo], [LoaiXe], [MauSac], [HangXe], [MaKH]) VALUES (N'29b-14493', N'Ô tô', NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAE6DF79D8]    Script Date: 16/04/2026 4:28:41 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LuotGui] ADD  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[LuotGui] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Nhân viên') FOR [TenNV]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('123456') FOR [MatKhau]
GO
ALTER TABLE [dbo].[TheXe] ADD  DEFAULT (N'Ngoài bãi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TheXe] ADD  DEFAULT ((0)) FOR [TrangThaiKhoa]
GO
ALTER TABLE [dbo].[CaTruc]  WITH CHECK ADD FOREIGN KEY([MaLan])
REFERENCES [dbo].[LanXe] ([MaLan])
GO
ALTER TABLE [dbo].[CaTruc]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DangKyVeThang]  WITH CHECK ADD FOREIGN KEY([BienSo])
REFERENCES [dbo].[Xe] ([BienSo])
GO
ALTER TABLE [dbo].[DangKyVeThang]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheXe] ([MaThe])
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD FOREIGN KEY([BienSo])
REFERENCES [dbo].[Xe] ([BienSo])
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD FOREIGN KEY([MaGia])
REFERENCES [dbo].[BangGia] ([MaGia])
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheXe] ([MaThe])
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BangGia]  WITH CHECK ADD CHECK  (([DonGia]>(0)))
GO
USE [master]
GO
